.app {
  width: 100vw;
  height: 100vh;
}

header {
  position: absolute;
  width: 70%;
  left: 15%;
}
h1 {
  font-weight: bolder;
  font-size: 3em;
}

.aquaTxt {
  color: rgb(10, 222, 252);
}

.list {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 275px; 
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    p {
      font-size: 0.8em;
    }
}