.friend-card {
	text-align: center;
	display: inline-block;
	background-color: #ffffff;
	border-style: none;
	border-radius: 15px;
	padding: 30px;
	margin: 7px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	opacity: 0.4;
	transition: transform 0.5s linear;
}

.friend-card:hover {
	opacity: 0.8;
	cursor: pointer;
	transform: scale(1.05);
}

@media only screen and (max-width: 350px) {
    .robo-card {
        max-width: 250px;
    }
}